html {
  font-family: "Open Sans", serif;
}

nav {
  background-color: #fff;
  color: #fff;
}

nav a {
  color: #260ac1;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  background-color: #d3f8de;
}
