html {
  font-family: "Open Sans", serif;
  background-color: #F4F3F1;
}

nav {
  color: #0F293E;
}

nav a {
  color: #0F293E;
  text-decoration: none;
}

h1 {
  color: #0F293E;
}

nav a:hover {
  background-color: #d3f8de;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  text-align: left;
  margin: 0;
}

.banner-content {
  overflow: hidden;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 70px;
}

.link-card {
  color: #fff;
  background-color: #0F293E;
  border-style: solid;
  border-width: 2px;
  border-color: #0F293E;
  border-radius: 6px;
}

.btn {
  background-color:#0F293E;
  color: #fff
}
