html {
  font-family: "Open Sans", serif;
  background-color: #DCDCDC;
}

nav {
  color: #fff;
}

nav a {
  color: #606499;;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  background-color: #d3f8de;
}

h1 {
  color: #606499;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  text-align: left;
  margin: 0;
}

.banner-content {
  overflow: hidden;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 70px;
}
